.idea/
*.iml
*.iws
out/
.idea_modules/

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

project.lock.json
project.fragment.lock.json
artifacts/
*.nuget.props
*.nuget.targets

*.nupkg
*.snupkg
packages/

*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx
*.xml.coverage
*.coverage
*.coveragexml
*.VisualState.xml
TestResult.xml
nunit-*.xml
CodeCoverage/

*.log
*.tlog
*.svclog
*.pidb
*.tmp
*.bak
*.swp
*.orig

ehthumbs.db
Icon?
Thumbs.db
.DS_Store
*.lnk
